body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 100px;
}

.nav {
    justify-content: space-between;
    padding: 2em;
}
.nav__img {
    background-color: orangered;
    font-size: 18px;
    color: white;
}

.nav__button {
    margin-left: 82%;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    gap: 20px;

}

.container1__title {
    font-weight: bold;
}

.container1__paragraph {
    color: gray;
    line-height: 0.7cm;
}

.container1__button {
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 50px;
}

.container1--span {
    color: gray;
    margin-top: 50px;
}

.container1__img {
    width: 100%;
    border-radius: 15px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 20px;
    padding-top: 20px;

}

.container2__img--grid {
    grid-column-start: 1;
    grid-column-end: 1;
}

.container2__img--grid1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.container2__img--grid2 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.container2__img {
    width: 100%;
}

.container2__img--grid {
    border-radius: 15px;
}

.container2__img--grid1 {
    border-radius: 15px;

}

.container2__img--grid2 {
    border-radius: 15px;

}

.container2__paragraph {
    color: gray;
    line-height: 0.7cm;
}



.container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

span {
    font-weight: bold;
    bottom: 20px;
}

.container__article {
    display: block;
}

.container__article__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #ef541a;
}

.footer {
    color: gray;
    text-align: center;
}
